.section {
    background-color: lemonchiffon;
}

#paragraph-1 {
    color: darkslateblue;
    background-color: orangered;
}

.orangeText {
    color: orange;
}

.main-image{
    width: 200px;
    height: 200px;
}