.section1 {
    background-color: lemonchiffon;
}

.customBlue {
    color: blue;
}

.main-image{
    width: 200px;
    height: 200px;
}

.firstList {
    background-color: tan;
}

.secondList {
    background-color: turquoise;
}

.thirdList {
    background-color: tomato;
}