.sections {
    background-color: yellow;
}

.headings {
    color: blue;
}

.main-image{
    width: 285px;
    height: 200px;
}

#email {
    background-color: tan;
}

#github {
    background-color: turquoise;
}

#portfolio {
    background-color: tomato;
}